<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PET</title>
  
  <!-- bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
  
  <!-- myCSS -->

  <link rel="stylesheet" href="static/css/styles.css">

  <!-- icon -->

  <link rel="icon" href="static/icons/euro.png">

  <!-- GoogleFonts -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Ubuntu&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/a53070339c.js" crossorigin="anonymous"></script>

</head>

<body>

  <section id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand me-auto" href="#" >P<span style="color: yellow;">&euro;</span>T</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#title">Home</a> </li>
            <li class="nav-item"><a class="nav-link" href="#about">About</a> </li>
            <li class="nav-item"><a class="nav-link" href="#features">Features</a> </li>
            <li class="nav-item"><a class="nav-link" href="#cta">Contact</a> </li>
            
          </ul>
        </div>

      </nav>

      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1>A Simple way to manage your Personal Expenses</h1>
          
          
        </div>

        <div class="home-right col-lg-6">
          <a href="{{url_for('user_login')}}">
            <button type="button" class="btn btn-dark btn-lg mybuttons top-button">Sign In</button>
          </a>
         <div class="row">
          <div class="col-5"><hr></div>
          <div class="col-2"><p>or</p></div>
          <div class="col-5"><hr></div>
         </div>
          <a href="{{url_for('user_signup')}}">
            <button type="button" class="btn btn-outline-light btn-lg mybuttons">Create Account</button>
          </a>
          
        </div>

      </div>
   
    </div>

  </section>


  <!-- About -->

  <section id="about">

    <div class="row">
      <div class="col-lg-6 about-left">
        <h1>About</h1>
        <p>In simple words, personal finance entails all the financial 
          decisions and activities that a Finance app makes your life easier by helping 
          you to manage your finances efficiently. A personal finance app will not only 
          help you with budgeting and accounting but also give you helpful insights 
          about money management.</p>
        <p>Personal finance applications will ask users 
          to add their expenses and based on their expenses wallet 
          balance will be updated which will be visible to the user.  
          Also, users can get an analysis of their expenditure in graphical forms. 
          They have an option to set a limit for the amount to be used for that particular month if the 
          limit is exceeded the user will be notified with an email alert.
        </p>
      </div>
      <div class="col-lg-6 about-right">
        <img class = "about-img" src="static/img/sampleimg.webp" alt="image">
      </div>
    </div>

  </section>


  <!-- Features -->

  <section id="features">

    <div class="container-fluid">

      <div class="row f-row">
        <div class="col-lg-6">
          <img class = "feature-imgs" src="static/img/feature1.png" alt="feature1">
        </div>
        <div class="col-lg-6">
          <div class="f-words-left">
            <h3 class="f-h2">Simple money tracker</h3>
            <br>
            <p class="f-p">It takes seconds to record daily transactions. 
                Put them into clear and visualized categories such as 
                Expense: Food, Shopping or Income: Salary, Gift.
            </p> 
          </div>
           
        </div>
      </div>
      <div class="row f-row">
        <div class="col-lg-6">
          <div class="f-words-right">
            <h3 class="f-h2">Painless budgeting</h3>
            <br>
            <p class="f-p">It takes seconds to record daily transactions. 
                Put them into clear and visualized categories such as 
                Expense: Food, Shopping or Income: Salary, Gift.
            </p>
          </div>
          
        </div>
        <div class="col-lg-6">
          <img class = "feature-imgs" src="static/img/feature2.png" alt="feature2" style="float: right;">
        </div>
      </div>
      <div class="row f-row">
        <div class="col-lg-6">
          <img class = "feature-imgs" src="static/img/feature3.png" alt="feature3">
        </div>
        <div class="col-lg-6">
          <div class="f-words-left" style="margin-top: 8%;">
            <h3 class="f-h2">The whole picture in one place</h3>
            <br>
            <p class="f-p">One report to give a clear view on your spending patterns.
              Understand where your money comes and goes with easy-to-read graphs.
            </p>
          </div>
          
        </div>
      </div>

    </div>
    
  </section>

  <!-- Call to Action -->

  <section id="cta">

    <h2>Take your finances to the next levels!</h2>
    <br>
    <p>Don't hesitate, money matters.</p>
    <br>
    <a href="{{url_for('user_login')}}" class="btn btn-dark btn-lg cta-btn ">Sign In</a>
    <a href="{{url_for('user_signup')}}" class="btn btn-light btn-lg cta-btn ">Create Account</a>

  </section>
  <!-- Footer -->

  <footer id="footer">

  
     <a href="#"><img src="static/icons/facebook.png" alt="facebook"></a>
     <a href="#"><img src="static/icons/email.png" alt="mail"></a>
     <a href="#"><img src="static/icons/instagram.png" alt="instagram"></a>
     <a href="#"><img src="static/icons/twitter.png" alt="twitter"></a>
 

    <p>© Copyright PET</p>

  </footer>


</body>

</html>
