body{
    font-family: 'Montserrat';
    font-weight: 400;
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    
}


h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
 
}
 
p{
    color: gray;
     
} 
em{
    position: relative;
    top: 20px;
}


#title{
    
    color: #FFEFD6;
    background-color: #0E5E6F; 
  
}

.container-fluid{
    padding: 3% 15% 7%;
    
}

/* navigation-bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    font-size: 1.2rem;
}


/* buttons */

.home-right a{
    text-decoration: none;
}

.mybuttons{
    width: 42%;
    display: inline-block;
    margin: 7% 30%;
}

.top-button{
    margin-top: 15%;
}

.home-right{
    text-align: center;
}

.hr{
    width: 40%;
}
.or{
    display: inline;
}

/* About */

#about{
    padding: 0 7% 7%;
}

.about-img{
    /* margin-bottom: 0; */
    width: 100%;
}
.about-left{
    padding: 5% 0 0 10%;
    text-align: justify;
}
.about-left h1{
    margin-bottom: 10%;
}
.about-left p {
    color: #393E46;
} 
/* features */

#features{
    background-color: #D6E4E5;
}
#features p{
    color:#393E46;
}
.feature-imgs{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.f-words-left{
    margin-top: 13%;
    margin-left: 15%;
}
.f-words-right{
    margin-top: 13%;
    margin-right: 15%;
}

.f-row{
    padding: 10% 5% 10% 0;
}
/* CTA section */

#cta{
    background-color: #0E5E6F;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
#cta p{
    color: #fff;
}
.cta-btn{
    width: 22%;
}
#cta .btn{
    margin: 6% 2%;
}

/* Footer section */

#footer{
    padding: 5%;
    text-align: center;
}

#footer img{
    /* color: #3D3C42; */
    width: 1.7%;
    margin: 3% 1%;
}

/* media queries */


@media (max-width : 1248px) and (min-width:991px){   
    .container-fluid{
        padding: 3% 8% 3%;
    }
}

@media (max-width : 991px){
    #title{
        text-align: center;
    }

    #navbarTogglerDemo01{
        text-align: right;
    }
    .f-words-left{
        text-align: center;
        margin: 13% 0 0 0;
    }
    .f-words-right{
        text-align: center;
        margin: 0 0 13% 0;
    }
    .f-words-left .f-h2{
        margin-top: 13%;
    }
    .mybuttons{
        margin: 12% auto ;
        width: 50%;
    }
    #cta .btn{
        text-align: center;
        display: inline-block;
        width: 50%;
    }
    #footer img{
        /* color: #3D3C42; */
        width: 5%;
        margin: 5% 3%;
    }
}
