.quote{
    padding: 5%;
    text-align: center;
}
.warning{
    border: 1px salmon;
    background-color: bisque;
    text-align: center;
    padding: 2% 0;
}
.warn-img{
    width: 5%;
}
.warn-p{
    color:red; 
    display: inline;
}